$white: #628395;

$light:        #2b59c3;
$dark:         #211e1e;
$primary:      #000000;
$secondary:    #11266f;
$info:         #cacdd2;

$theme-colors: (
    "light":      #2b59c3,
    "dark":       #211e1e,
    "primary":    #000000,
    "secondary":  #11266f,
    "info":       #cacdd2,
);
@import '../vendors/bootstrap-5.3.2/scss/bootstrap.scss';
